appdirs==1.4.3
asn1crypto==0.24.0
atomicwrites==1.2.1
attrs==18.2.0
Automat==0.7.0
backcall==0.1.0
bitarray==0.8.3
certifi==2018.10.15
cffi==1.11.5
chardet==3.0.4
Click==7.0
colorama==0.4.0
constantly==15.1.0
copyheaders==0.0.1
cryptography==2.3.0
cssselect==1.0.3
cycler==0.10.0
DBUtils==1.3
decorator==4.3.0
fake-useragent==0.1.11
Flask==1.0.2
future==0.15.2
futures==3.1.1
geographiclib==1.49
geopy==1.17.0
hyperlink==18.0.0
idna==2.7
incremental==17.5.0
ipykernel==5.1.0
ipython==7.0.1
ipython-genutils==0.2.0
itsdangerous==0.24
jedi==0.13.1
Jinja2==2.10
jupyter-client==5.2.3
jupyter-console==6.0.0
jupyter-core==4.4.0
lxml==4.2.5
MarkupSafe==1.0
matplotlib==2.1.2
more-itertools==4.3.0
neo4j-driver==1.6.2
neotime==1.7.1
numpy==1.14.0
oauthlib==2.1.0
packaging==16.8
pandas==0.23.4
parsel==1.5.0
parso==0.3.1
pickleshare==0.7.5
pluggy==0.7.1
prompt-toolkit==1.0.15
py==1.6.0
py2neo==3.1.2
pyasn1==0.4.4
pyasn1-modules==0.2.2
pybloom-live==3.0.0
pycparser==2.19
PyDispatcher==2.0.5
Pygments==2.2.0
PyHamcrest==1.9.0
pymongo==3.7.1
PyMySQL==0.7.11
pyOpenSSL==18.0.0
pyparsing==2.2.0
pyquery==1.4.0
PySocks==1.6.8
pytest==3.8.2
pytest-runner==4.2
python-dateutil==2.6.1
python-twitter==3.4.2
pytz==2017.3
pyzmq==17.1.2
queuelib==1.5.0
redis==2.10.6
requests==2.20.0
requests-oauthlib==1.0.0
Scrapy==1.5.1
scrapy-redis==0.6.8
scrapy-splash==0.7.2
selenium==3.14.1
service-identity==17.0.0
six==1.11.0
termcolor==1.1.0
tomorrow==0.2.4
tornado==4.5.3
traitlets==4.3.2
tweepy==3.6.0
twisted==22.10.0
twitter==1.18.0
urllib3==1.22
w3lib==1.19.0
wcwidth==0.1.7
Werkzeug==0.14.1
wincertstore==0.2
zope.interface==4.5.0
scrapyd-client==1.1.0
scrapyd==1.2.0
scrapy-redis-bloomfilter==0.7.0

